[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
httpx = "*"
tenacity = "*"
uvicorn = {extras = ["standard"], version = "*"}
asgi-lifespan = "*"
google-api-python-client = "*"
google-cloud-firestore = "*"
google-cloud-pubsub = "*"
nats-py = "*"
watchdog = "*"
pydantic-settings = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
ruff = "*"

[requires]
python_version = "3.12"
